/* updated 17.04.2024 6:01am  --> BUGS FIXES */ 


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    background-image: url("./images/tony-litvyak-JRm_61pn91k-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}


.my_image {  /*updated 07.02.2024 5:11am */
    border-radius: 60%;
    width: 280px;
    height: 300px;
    display: flex;
    margin: auto;
    margin-top: 70px;
}

.buttons {
    text-align: center;

}

button {
    font-family: "Open Sans", sans-serif;
    border: 2px solid #e11d48;
    background-color: #e11d48;
    color: #ffffff;
    border-radius: 8px;
    width: 140px;
    height: 50px;
    font-size: 20px;
    margin: 30px;
    cursor: pointer;
    max-width: 100%;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
}

button:hover {  /* updated 07.02.2024 5:17am */
    transform: translateY(-8px);
}


article {
    margin-top: 6em;
}

.hello {
    font-size: 35px;

    text-align: center;
    color: whitesmoke;
    margin-top: 2rem;
    font-family: "Open Sans", sans-serif;

}

.highlight {  /* updated 07.02.2024 5:13am */
    color: #e11d48;
    padding-left: 10px;
}

.resume {
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    margin-top: 2rem;
    margin: auto;
    font-family: "Open Sans", sans-serif;

}

.abt {
    border: 1px solid #e11d48;
    background-color: #e11d48;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    width: 260px;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 100px rgba(247, 246, 246, 0.5);
}

.abt:hover {
    transform: translateY(-5px);
}

.artic {
    padding-top: 5rem;
    margin: auto;
    text-align: center;
    font-size: 27px;
    max-width: 90ch;
    color: white;
    text-shadow: 0px 0px 10px #e0e0e0;
}

.my_works {
    border: 1px solid #e11d48;
    background-color: #e11d48;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    width: 260px;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 100px rgba(255, 254, 254, 0.5);
}

.my_works:hover {
    transform: translateY(-5px);
}

.certificates, .certificates_2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;

}

.certificates img {
    margin: 10px;
    height: 400px;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 100px rgba(5, 5, 5, 0.5);
}

.certificates_2 img {  /* added new certificates  25.02.2024 05:55am*/
    margin: 10px;
    height: 400px;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 100px rgba(5, 5, 5, 0.5);
}


.moving-image {
    border-radius: 20px;
}

.certificates img:hover {
    transform: translateY(-5px);
}

.certificates_2 img:hover{
    transform: translateY(-5px);
}



.disciption__m50 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: #e0e0e0;
    padding-top: 50px;
    text-align: center;
    text-shadow: 0px 5px 10px #e0e0e0;
}

.img_1_m50 {
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 100vh;
    margin-top: 10px;
    height: 400px;
    box-shadow: 0px 0px 40px rgb(255, 251, 0);
    border-radius: 20px;

}

.contact_me {
    border: 1px solid #e11d48;
    background-color: #e11d48;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 260px;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 100px rgba(255, 254, 254, 0.5);
}

.contact_me:hover {
    transform: translateY(-5px);
}


.beautiful-footer {
    font-family: "Open Sans", sans-serif;
    border-radius: 20px;
    margin-top: 50px;
    background-color: #e11d48;
    color: #fff;
    padding: 20px;
    text-align: center;
    padding: 50px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
}

.footer-links a {

    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    transition: transform 0.3s ease;
    color: #f792a8;
    transform: translateY(-5px);

}

.side-scroll {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background: linear-gradient(to bottom, #ffcc00, #ff0066);
    transition: transform 0.3s ease;
}

.side-scroll.active {
    transform: translateY(-100%);
}

@media (max-width: 768px) {
    body {
        /* Adjust styles for smaller screens */
        background-size: auto;
        /* or any other appropriate style for smaller screens */
    }

    .my_image {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    .buttons button {
        width: 100%;
        margin: 10px 0;
    }


}

@media (max-width: 768px)   /* updated 07.02.2024 5:30am */
    
    {
    .buttons {
        width: 200px;
        margin: auto;
    }

    .certificates img {
        width: 100%;
        /* Adjust width for smaller screens */
        height: auto;
        /* Maintain aspect ratio */
        max-width: 100%;
    }

    .certificates_2 img{
        width: 100%;
        /* Adjust width for smaller screens */
        height: auto;
        /* Maintain aspect ratio */
        max-width: 100%;
    }

    .img_1_m50 {
        width: 100%;
        /* Adjust width for smaller screens */
        height: auto;
        /* Maintain aspect ratio */
        max-width: 100%;
    }

    .footer-links {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-links a {
        margin: 5px;
        /* Adjust margin for smaller screens */
    }
}
